<li id="contestant_picture_row<%= flickr_id %>" class="contestant_pictures">
	<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?user_id=<%= flickr_id %>&tags=highfive09"
					frameBorder="0" width="400" scrolling="no" height="400"/>
</li>